<h1>Nouvelle tâche à effectuer</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label "complétée?" %>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>

<%= link_to "Retour à la liste",
  tasks_path
%>
